## SQL Insights

In [10]:
import pymysql
try:
    # Establishing a connection to the MySQL database
    conn = pymysql.connect(
        host='127.0.0.1',  # Localhost IP address
        user='root',        # MySQL username
        password='Vikas@123',  # MySQL password (Consider using environment variables for security)
        database='usersystem'  # Target database name
    )
    print("Connection successfully created")

except pymysql.MySQLError as err:
    print(f"Error: {err}")

Connection successfully created

#### 1. Find the number of quotes by each author.

In [6]:
cursor = conn.cursor() # Create a cursor object to interact with the database

# Define the SQL query to count the number of quotes per author
# The query groups the results by author and orders them in descending order based on quote count
query = """
SELECT author, COUNT(*) as quote_count 
FROM quotes 
GROUP BY author 
ORDER BY quote_count DESC;
"""
cursor.execute(query) # Execute the SQL query                            
results = cursor.fetchall() # Fetch all results from the executed query
print("Number of quotes by each author:")

# Iterate through the results and print each author's name along with their quote count
for row in results:
    print(f"{row[0]}: {row[1]} quotes")

#### 2.  Query to find the top 5 most common tags

In [9]:
# Define the SQL query to count the most common tags from the quotes table
query = """
    SELECT tag, COUNT(*) AS tag_count
    FROM (
        SELECT SUBSTRING_INDEX(SUBSTRING_INDEX(tag_name, ',', numbers.n), ',', -1) AS tag
        FROM quotes
        JOIN (SELECT 1 n UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5) numbers
        ON CHAR_LENGTH(tag_name) - CHAR_LENGTH(REPLACE(tag_name, ',', '')) >= numbers.n - 1
    ) tag_table
    GROUP BY tag
    ORDER BY tag_count DESC
    LIMIT 5;
"""
cursor.execute(query) # Execute the SQL query
results = cursor.fetchall()  # Fetch all results from the executed query
print("Top 5 Most Common Tags:")  # Display results in a readable format
for row in results:
    print(f"{row[0]}: {row[1]} times")

#### 3. Find authors who have more than 5 quotes

In [7]:
query = """
    SELECT author, COUNT(*) AS quote_count
    FROM quotes
    GROUP BY author
    HAVING COUNT(*) > 5
    ORDER BY quote_count DESC;
    """
cursor.execute(query)
results = cursor.fetchall()
print(results)

(('Albert Einstein', 10), ('J.K. Rowling', 9), ('Marilyn Monroe', 7), ('Dr. Seuss', 6), ('Mark Twain', 6))

#### 4. Retrieve the longest quote and its author.

In [ ]:
query = """
    SELECT author, quote
    FROM quotes
    ORDER BY CHAR_LENGTH(quote) DESC
    LIMIT 1;
    """
cursor.execute(query)
result = cursor.fetchone()
print(result)

## Main objective

#### The primary goal of this script is to analyze and extract insights from a quotes database (quotes table) stored in a MySQL database (usersystem). It performs multiple SQL queries to gather useful information about authors and tags.

### Overall Purpose
This script helps in data analysis of a quotes database by:                                                                                        
✅ Identifying the most prolific authors.                                                                                                           
✅ Finding the most frequently used tags.                                                                                                              
✅ Filtering authors based on a minimum number of quotes.                                                                                               
✅ Extracting the longest quote.